# AgentRouter
AGENT_ROUTER_API_KEY=
AGENT_ROUTER_BASE_URL="https://agentrouter.org/v1"
LLM_MODEL_NAME=

# OpenRouter
OPENROUTER_API_KEY=
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"
# LLM_MODEL_NAME=


# Default provider (agentrouter | openrouter)
DEFAULT_PROVIDER=agentrouter
DEFAULT_MODEL=z-ai/glm-4.5-air:free